.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding: 30px;
}

.DirectoryList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DirectoryItem {
    font-size: 16px;
    width: 220px;
}

.CardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.CardGrid::after {
    content: "";
    width: 200px;
}

.Card {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin: 30px 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DirectoryImageStack {
    width: 220px;
    height: 258px;
    position: relative;
}


.DirectoryImageStack img {
    height: 250px;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}