@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  background-color: #1e1e1e;
  /* touch-action: none; */
  user-select: none;
  font-family: Inter;
}

h1 {
  font-family: "Rubik Doodle Shadow";
}