@import "./_vars.css";

.Recents {
    color: var(--light-color);
    margin-bottom: 32px;
    background-color: var(--dark-color);
    box-shadow: 0 4px 2px -2px gray;
    padding: 0 24px 24px 24px
}

.RecentsRow {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
    width: calc(100vw - 64px);
    margin-left: calc(-32px);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
}

.RecentsRow::-webkit-scrollbar {
    display: none;
}


.RecentsEntry img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.RecentsEntry {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
}

.CoverStack {
    position: relative;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    width: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}


.RecentsTitle {
    font-size: 16px;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    position: relative;
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent);
    mask-image: linear-gradient(to right, black 70%, transparent);
}