.main {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.carousel {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.carouselItem {
    height: 100vh;
    touch-action: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
}

.carouselItemImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto;
    touch-action: none;
}

.carouselItemOverlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .2s ease-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.overlayHeader {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    background: black;
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
}

.overlayBack {
    width: 80px;
    height: 80px;
    flex-grow: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQyLjc1IDEwLjVMMjEuMjUgMzJMNDIuNzUgNTMuNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
}

.overlayTitle {
    flex-grow: 1;
    font-size: 32px;

}

.closeOverlay {
    width: 80px;
    height: 80px;
    flex-grow: 0;
    background-position: center;
    background-repeat: no-repeat;
}